/* stylesheet */
*{
  margin: 0;
  padding: 0;
}

.background{
  display: grid;
  grid-template-columns: 2.5% auto 2.5%;
  background-color: #ffffff;
}

.leftbule{
  background-color: #365d84;
}
.rightblue{
  background-color: #365d84;
}

.banner{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.banner > img {
  max-width: 100%;
  height: auto;
}

.banner > p {
  font-size: 25px;
  padding: 10px 0 5px 0;
}

.body-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 10px 10% 5px 10%;
  /* text-align: center; */
}

.left{
  /* padding-left: 15%; */
}

.left > p {
  color: #38566c;
  margin: 5px;
  line-height: 20px;
}

.left > img {
  max-width: 100%;
  height: auto;
}
